[submodule "dotfiles/personal"]
	path = dotfiles/personal
	url = git@github.com:RichardBieringa/dotfiles-personal.git
[submodule "dotfiles/nvim"]
	path = dotfiles/nvim
	url = https://github.com/NvChad/NvChad
