[submodule "configs/personal-configs"]
	path = personal-configs
	url = git@github.com:RichardBieringa/dotfiles-personal.git
[submodule "configs/NvChad"]
	path = configs/nvim
	url = https://github.com/NvChad/NvChad
